# Rust
debug/
target/
Cargo.lock
**/*.rs.bk
*.pdb
rust-project.json

# Zed Extension
extension.wasm
bin/

# IDEs
.idea/
.vscode/
.zed/settings.json

# OS Files
.DS_Store
Thumbs.db
*~
.fuse_hidden*
.directory
.Trash-*
.nfs*

# Local/Private
*local*
*.local.*

# Logs
*.log
