# yaml-language-server: $schema=https://www.schemastore.org/github-workflow.json
---
name: autofix.ci
on: { pull_request: {}, push: { branches: [master] } }
permissions: { contents: read }
jobs:
  autofix:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: dtolnay/rust-toolchain@stable
        with: { components: "rustfmt, clippy" }
      - run: cargo clippy --fix --allow-dirty --allow-staged
        continue-on-error: true
      - uses: oven-sh/setup-bun@v2
      - run: bun i -g dprint tombi
        continue-on-error: false
      - run: dprint fmt --allow-no-files --excludes ".github"
        continue-on-error: false
      - uses: autofix-ci/action@v1
